version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
  postgres:
    image: postgres:alpine
    container_name: postgres
    volumes:
      - ../.data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: always
