version: '3.8'
services:
  redis:
    image: redis:latest
    hostname: redis
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
  db:
    image: postgres:17-alpine
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - .././data/:/var/lib/postgresql/data/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_PASSWORD: 1234
  zootplusbackend:
    image: ghcr.io/zoot-plus/zootplusbackend:latest
    container_name: ZootPlusBackend
    command: --spring.profiles.active=prod
    ports:
      - "8080:8080"
    volumes:
      - ./application-prod.yml:/app/application-prod.yml:ro
    links:
      - redis
      - db
    restart: always
    depends_on:
      - redis
      - db
